<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>+93</key>
        <string>阿富汗</string>
    </dict>
    <dict>
        <key>+355</key>
        <string>阿爾巴尼亞</string>
    </dict>
    <dict>
        <key>+213</key>
        <string>阿爾及利亞</string>
    </dict>
    <dict>
        <key>+1-684</key>
        <string>美屬薩摩亞</string>
    </dict>
    <dict>
        <key>+376</key>
        <string>安道爾</string>
    </dict>
    <dict>
        <key>+244</key>
        <string>安哥拉</string>
    </dict>
    <dict>
        <key>+1-264</key>
        <string>安奎拉</string>
    </dict>
    <dict>
        <key>+672</key>
        <string>南極洲</string>
    </dict>
    <dict>
        <key>+1-268</key>
        <string>安地卡及巴布達</string>
    </dict>
    <dict>
        <key>+54</key>
        <string>阿根廷</string>
    </dict>
    <dict>
        <key>+374</key>
        <string>亞美尼亞</string>
    </dict>
    <dict>
        <key>+297</key>
        <string>荷屬阿魯巴</string>
    </dict>
    <dict>
        <key>+61</key>
        <string>澳洲</string>
    </dict>
    <dict>
        <key>+43</key>
        <string>奧地利</string>
    </dict>
    <dict>
        <key>+994</key>
        <string>亞塞拜然</string>
    </dict>
    <dict>
        <key>+1-242</key>
        <string>巴哈馬</string>
    </dict>
    <dict>
        <key>+973</key>
        <string>巴林</string>
    </dict>
    <dict>
        <key>+880</key>
        <string>孟加拉</string>
    </dict>
    <dict>
        <key>+1-246</key>
        <string>巴貝多</string>
    </dict>
    <dict>
        <key>+375</key>
        <string>白俄羅斯</string>
    </dict>
    <dict>
        <key>+32</key>
        <string>比利時</string>
    </dict>
    <dict>
        <key>+501</key>
        <string>貝里斯</string>
    </dict>
    <dict>
        <key>+229</key>
        <string>貝南</string>
    </dict>
    <dict>
        <key>+1-441</key>
        <string>百慕達</string>
    </dict>
    <dict>
        <key>+975</key>
        <string>不丹</string>
    </dict>
    <dict>
        <key>+591</key>
        <string>玻利維亞</string>
    </dict>
    <dict>
        <key>+387</key>
        <string>波士尼亞與赫塞哥維納</string>
    </dict>
    <dict>
        <key>+267</key>
        <string>波札那</string>
    </dict>
    <dict>
        <key>+55</key>
        <string>巴西</string>
    </dict>
    <dict>
        <key>+246</key>
        <string>英屬印度洋領地</string>
    </dict>
    <dict>
        <key>+1-284</key>
        <string>英屬維京群島</string>
    </dict>
    <dict>
        <key>+673</key>
        <string>汶萊</string>
    </dict>
    <dict>
        <key>+359</key>
        <string>保加利亞</string>
    </dict>
    <dict>
        <key>+226</key>
        <string>布吉納法索</string>
    </dict>
    <dict>
        <key>+257</key>
        <string>蒲隆地</string>
    </dict>
    <dict>
        <key>+855</key>
        <string>柬埔寨</string>
    </dict>
    <dict>
        <key>+237</key>
        <string>喀麥隆</string>
    </dict>
    <dict>
        <key>+1</key>
        <string>加拿大</string>
    </dict>
    <dict>
        <key>+238</key>
        <string>維德角</string>
    </dict>
    <dict>
        <key>+1-345</key>
        <string>開曼群島</string>
    </dict>
    <dict>
        <key>+236</key>
        <string>中非共和國</string>
    </dict>
    <dict>
        <key>+235</key>
        <string>查德</string>
    </dict>
    <dict>
        <key>+56</key>
        <string>智利</string>
    </dict>
    <dict>
        <key>+86</key>
        <string>中國</string>
    </dict>
    <dict>
        <key>+61</key>
        <string>聖誕島</string>
    </dict>
    <dict>
        <key>+61</key>
        <string>科克斯群島</string>
    </dict>
    <dict>
        <key>+57</key>
        <string>哥倫比亞</string>
    </dict>
    <dict>
        <key>+269</key>
        <string>葛摩</string>
    </dict>
    <dict>
        <key>+682</key>
        <string>庫克群島</string>
    </dict>
    <dict>
        <key>+506</key>
        <string>哥斯大黎加</string>
    </dict>
    <dict>
        <key>+385</key>
        <string>克羅埃西亞</string>
    </dict>
    <dict>
        <key>+53</key>
        <string>古巴</string>
    </dict>
    <dict>
        <key>+599</key>
        <string>庫拉索</string>
    </dict>
    <dict>
        <key>+357</key>
        <string>賽普勒斯</string>
    </dict>
    <dict>
        <key>+420</key>
        <string>捷克</string>
    </dict>
    <dict>
        <key>+243</key>
        <string>剛果民主共和國</string>
    </dict>
    <dict>
        <key>+45</key>
        <string>丹麥</string>
    </dict>
    <dict>
        <key>+253</key>
        <string>吉布地</string>
    </dict>
    <dict>
        <key>+1-767</key>
        <string>多米尼克</string>
    </dict>
    <dict>
        <key>+1-809</key>
        <string>多明尼加共和國</string>
    </dict>
    <dict>
        <key>+1-829</key>
        <string>多明尼加共和國</string>
    </dict>
    <dict>
        <key>+1-849</key>
        <string>多明尼加共和國</string>
    </dict>
    <dict>
        <key>+670</key>
        <string>東帝汶</string>
    </dict>
    <dict>
        <key>+593</key>
        <string>厄瓜多</string>
    </dict>
    <dict>
        <key>+20</key>
        <string>埃及</string>
    </dict>
    <dict>
        <key>+503</key>
        <string>薩爾瓦多</string>
    </dict>
    <dict>
        <key>+240</key>
        <string>赤道幾內亞</string>
    </dict>
    <dict>
        <key>+291</key>
        <string>厄利垂亞</string>
    </dict>
    <dict>
        <key>+372</key>
        <string>愛沙尼亞</string>
    </dict>
    <dict>
        <key>+251</key>
        <string>衣索比亞</string>
    </dict>
    <dict>
        <key>+500</key>
        <string>福克蘭群島</string>
    </dict>
    <dict>
        <key>+298</key>
        <string>法羅群島</string>
    </dict>
    <dict>
        <key>+679</key>
        <string>斐濟</string>
    </dict>
    <dict>
        <key>+358</key>
        <string>芬蘭</string>
    </dict>
    <dict>
        <key>+33</key>
        <string>法國</string>
    </dict>
    <dict>
        <key>+689</key>
        <string>法屬玻里尼西亞</string>
    </dict>
    <dict>
        <key>+241</key>
        <string>加彭</string>
    </dict>
    <dict>
        <key>+220</key>
        <string>甘比亞</string>
    </dict>
    <dict>
        <key>+995</key>
        <string>喬治亞</string>
    </dict>
    <dict>
        <key>+49</key>
        <string>德國</string>
    </dict>
    <dict>
        <key>+233</key>
        <string>迦納</string>
    </dict>
    <dict>
        <key>+350</key>
        <string>直布羅陀</string>
    </dict>
    <dict>
        <key>+30</key>
        <string>希臘</string>
    </dict>
    <dict>
        <key>+299</key>
        <string>格陵蘭</string>
    </dict>
    <dict>
        <key>+1-473</key>
        <string>格瑞那達</string>
    </dict>
    <dict>
        <key>+1-671</key>
        <string>關島</string>
    </dict>
    <dict>
        <key>+502</key>
        <string>瓜地馬拉</string>
    </dict>
    <dict>
        <key>+44-1481</key>
        <string>根息</string>
    </dict>
    <dict>
        <key>+224</key>
        <string>幾內亞</string>
    </dict>
    <dict>
        <key>+245</key>
        <string>幾內亞比索</string>
    </dict>
    <dict>
        <key>+592</key>
        <string>蓋亞那</string>
    </dict>
    <dict>
        <key>+509</key>
        <string>海地</string>
    </dict>
    <dict>
        <key>+504</key>
        <string>宏都拉斯</string>
    </dict>
    <dict>
        <key>+852</key>
        <string>香港</string>
    </dict>
    <dict>
        <key>+36</key>
        <string>匈牙利</string>
    </dict>
    <dict>
        <key>+354</key>
        <string>冰島</string>
    </dict>
    <dict>
        <key>+91</key>
        <string>印度</string>
    </dict>
    <dict>
        <key>+62</key>
        <string>印尼</string>
    </dict>
    <dict>
        <key>+98</key>
        <string>伊朗</string>
    </dict>
    <dict>
        <key>+964</key>
        <string>伊拉克</string>
    </dict>
    <dict>
        <key>+353</key>
        <string>愛爾蘭島</string>
    </dict>
    <dict>
        <key>+44-1624</key>
        <string>曼島</string>
    </dict>
    <dict>
        <key>+972</key>
        <string>以色列</string>
    </dict>
    <dict>
        <key>+39</key>
        <string>義大利</string>
    </dict>
    <dict>
        <key>+225</key>
        <string>象牙海岸</string>
    </dict>
    <dict>
        <key>+1-876</key>
        <string>牙買加</string>
    </dict>
    <dict>
        <key>+81</key>
        <string>日本</string>
    </dict>
    <dict>
        <key>+44-1534</key>
        <string>澤西島</string>
    </dict>
    <dict>
        <key>+962</key>
        <string>約旦</string>
    </dict>
    <dict>
        <key>+7</key>
        <string>哈薩克</string>
    </dict>
    <dict>
        <key>+254</key>
        <string>肯亞</string>
    </dict>
    <dict>
        <key>+686</key>
        <string>吉里巴斯</string>
    </dict>
    <dict>
        <key>+383</key>
        <string>科索沃</string>
    </dict>
    <dict>
        <key>+965</key>
        <string>科威特</string>
    </dict>
    <dict>
        <key>+996</key>
        <string>吉爾吉斯</string>
    </dict>
    <dict>
        <key>+856</key>
        <string>寮國</string>
    </dict>
    <dict>
        <key>+371</key>
        <string>拉脫維亞</string>
    </dict>
    <dict>
        <key>+961</key>
        <string>黎巴嫩</string>
    </dict>
    <dict>
        <key>+266</key>
        <string>賴索托</string>
    </dict>
    <dict>
        <key>+231</key>
        <string>賴比瑞亞</string>
    </dict>
    <dict>
        <key>+218</key>
        <string>利比亞</string>
    </dict>
    <dict>
        <key>+423</key>
        <string>列支敦斯登</string>
    </dict>
    <dict>
        <key>+370</key>
        <string>立陶宛</string>
    </dict>
    <dict>
        <key>+352</key>
        <string>盧森堡</string>
    </dict>
    <dict>
        <key>+853</key>
        <string>澳門</string>
    </dict>
    <dict>
        <key>+389</key>
        <string>北馬其頓</string>
    </dict>
    <dict>
        <key>+261</key>
        <string>馬達加斯加</string>
    </dict>
    <dict>
        <key>+265</key>
        <string>馬拉威</string>
    </dict>
    <dict>
        <key>+60</key>
        <string>馬來西亞</string>
    </dict>
    <dict>
        <key>+960</key>
        <string>馬爾地夫</string>
    </dict>
    <dict>
        <key>+223</key>
        <string>馬利</string>
    </dict>
    <dict>
        <key>+356</key>
        <string>馬爾他</string>
    </dict>
    <dict>
        <key>+692</key>
        <string>馬紹爾群島</string>
    </dict>
    <dict>
        <key>+222</key>
        <string>茅利塔尼亞</string>
    </dict>
    <dict>
        <key>+230</key>
        <string>模里西斯</string>
    </dict>
    <dict>
        <key>+262</key>
        <string>馬約特島</string>
    </dict>
    <dict>
        <key>+52</key>
        <string>墨西哥</string>
    </dict>
    <dict>
        <key>+691</key>
        <string>密克羅尼西亞</string>
    </dict>
    <dict>
        <key>+373</key>
        <string>摩爾多瓦</string>
    </dict>
    <dict>
        <key>+377</key>
        <string>摩納哥</string>
    </dict>
    <dict>
        <key>+976</key>
        <string>蒙古</string>
    </dict>
    <dict>
        <key>+382</key>
        <string>蒙特內哥羅</string>
    </dict>
    <dict>
        <key>+1-664</key>
        <string>蒙哲臘</string>
    </dict>
    <dict>
        <key>+212</key>
        <string>摩洛哥</string>
    </dict>
    <dict>
        <key>+258</key>
        <string>莫三比克</string>
    </dict>
    <dict>
        <key>+95</key>
        <string>緬甸</string>
    </dict>
    <dict>
        <key>+264</key>
        <string>納米比亞</string>
    </dict>
    <dict>
        <key>+674</key>
        <string>諾魯</string>
    </dict>
    <dict>
        <key>+977</key>
        <string>尼泊爾</string>
    </dict>
    <dict>
        <key>+31</key>
        <string>荷蘭</string>
    </dict>
    <dict>
        <key>+599</key>
        <string>荷屬安地列斯</string>
    </dict>
    <dict>
        <key>+687</key>
        <string>新喀里多尼亞</string>
    </dict>
    <dict>
        <key>+64</key>
        <string>紐西蘭</string>
    </dict>
    <dict>
        <key>+505</key>
        <string>尼加拉瓜</string>
    </dict>
    <dict>
        <key>+227</key>
        <string>尼日</string>
    </dict>
    <dict>
        <key>+234</key>
        <string>奈及利亞</string>
    </dict>
    <dict>
        <key>+683</key>
        <string>紐埃島</string>
    </dict>
    <dict>
        <key>+850</key>
        <string>北韓</string>
    </dict>
    <dict>
        <key>+1-670</key>
        <string>北馬利安納群島</string>
    </dict>
    <dict>
        <key>+47</key>
        <string>挪威</string>
    </dict>
    <dict>
        <key>+968</key>
        <string>阿曼</string>
    </dict>
    <dict>
        <key>+92</key>
        <string>巴基斯坦</string>
    </dict>
    <dict>
        <key>+680</key>
        <string>帛琉</string>
    </dict>
    <dict>
        <key>+970</key>
        <string>巴勒斯坦</string>
    </dict>
    <dict>
        <key>+507</key>
        <string>巴拿馬</string>
    </dict>
    <dict>
        <key>+675</key>
        <string>巴布亞紐幾內亞</string>
    </dict>
    <dict>
        <key>+595</key>
        <string>巴拉圭</string>
    </dict>
    <dict>
        <key>+51</key>
        <string>秘魯</string>
    </dict>
    <dict>
        <key>+63</key>
        <string>菲律賓</string>
    </dict>
    <dict>
        <key>+64</key>
        <string>皮特肯群島</string>
    </dict>
    <dict>
        <key>+48</key>
        <string>波蘭</string>
    </dict>
    <dict>
        <key>+351</key>
        <string>葡萄牙</string>
    </dict>
    <dict>
        <key>+1-787</key>
        <string>波多黎各</string>
    </dict>
    <dict>
        <key>+1-939</key>
        <string>波多黎各</string>
    </dict>
    <dict>
        <key>+974</key>
        <string>卡達</string>
    </dict>
    <dict>
        <key>+242</key>
        <string>剛果</string>
    </dict>
    <dict>
        <key>+262</key>
        <string>留尼旺</string>
    </dict>
    <dict>
        <key>+40</key>
        <string>羅馬尼亞</string>
    </dict>
    <dict>
        <key>+7</key>
        <string>俄羅斯</string>
    </dict>
    <dict>
        <key>+250</key>
        <string>盧安達</string>
    </dict>
    <dict>
        <key>+590</key>
        <string>聖巴瑟米</string>
    </dict>
    <dict>
        <key>+290</key>
        <string>聖凱倫拿島</string>
    </dict>
    <dict>
        <key>+1-869</key>
        <string>聖克里斯多福及尼維斯</string>
    </dict>
    <dict>
        <key>+1-758</key>
        <string>聖露西亞</string>
    </dict>
    <dict>
        <key>+590</key>
        <string>聖馬丁島</string>
    </dict>
    <dict>
        <key>+508</key>
        <string>聖皮埃與密克隆群島</string>
    </dict>
    <dict>
        <key>+1-784</key>
        <string>聖文森及格瑞那丁</string>
    </dict>
    <dict>
        <key>+685</key>
        <string>薩摩亞</string>
    </dict>
    <dict>
        <key>+378</key>
        <string>聖馬利諾</string>
    </dict>
    <dict>
        <key>+239</key>
        <string>聖多美普林西比</string>
    </dict>
    <dict>
        <key>+966</key>
        <string>沙烏地阿拉伯</string>
    </dict>
    <dict>
        <key>+221</key>
        <string>塞內加爾</string>
    </dict>
    <dict>
        <key>+381</key>
        <string>塞爾維亞</string>
    </dict>
    <dict>
        <key>+248</key>
        <string>塞席爾</string>
    </dict>
    <dict>
        <key>+232</key>
        <string>獅子山</string>
    </dict>
    <dict>
        <key>+65</key>
        <string>新加坡</string>
    </dict>
    <dict>
        <key>+1-721</key>
        <string>荷屬聖馬丁</string>
    </dict>
    <dict>
        <key>+421</key>
        <string>斯洛伐克</string>
    </dict>
    <dict>
        <key>+386</key>
        <string>斯洛維尼亞</string>
    </dict>
    <dict>
        <key>+677</key>
        <string>索羅門群島</string>
    </dict>
    <dict>
        <key>+252</key>
        <string>索馬利亞</string>
    </dict>
    <dict>
        <key>+27</key>
        <string>南非</string>
    </dict>
    <dict>
        <key>+82</key>
        <string>南韓</string>
    </dict>
    <dict>
        <key>+211</key>
        <string>南蘇丹</string>
    </dict>
    <dict>
        <key>+34</key>
        <string>西班牙</string>
    </dict>
    <dict>
        <key>+94</key>
        <string>斯里蘭卡</string>
    </dict>
    <dict>
        <key>+249</key>
        <string>蘇丹</string>
    </dict>
    <dict>
        <key>+597</key>
        <string>蘇利南</string>
    </dict>
    <dict>
        <key>+47</key>
        <string>挪威屬斯瓦巴及尖棉</string>
    </dict>
    <dict>
        <key>+268</key>
        <string>史瓦帝尼王國</string>
    </dict>
    <dict>
        <key>+46</key>
        <string>瑞典</string>
    </dict>
    <dict>
        <key>+41</key>
        <string>瑞士</string>
    </dict>
    <dict>
        <key>+963</key>
        <string>敘利亞</string>
    </dict>
    <dict>
        <key>+886</key>
        <string>台灣</string>
    </dict>
    <dict>
        <key>+992</key>
        <string>塔吉克</string>
    </dict>
    <dict>
        <key>+255</key>
        <string>坦尚尼亞</string>
    </dict>
    <dict>
        <key>+66</key>
        <string>泰國</string>
    </dict>
    <dict>
        <key>+228</key>
        <string>多哥</string>
    </dict>
    <dict>
        <key>+690</key>
        <string>托克勞群島</string>
    </dict>
    <dict>
        <key>+676</key>
        <string>東加</string>
    </dict>
    <dict>
        <key>+1-868</key>
        <string>千里達及托巴哥</string>
    </dict>
    <dict>
        <key>+216</key>
        <string>突尼西亞</string>
    </dict>
    <dict>
        <key>+90</key>
        <string>土耳其</string>
    </dict>
    <dict>
        <key>+993</key>
        <string>土庫曼</string>
    </dict>
    <dict>
        <key>+1-649</key>
        <string>土克斯及開科斯群島</string>
    </dict>
    <dict>
        <key>+688</key>
        <string>吐瓦魯</string>
    </dict>
    <dict>
        <key>+1-340</key>
        <string>美屬維京群島</string>
    </dict>
    <dict>
        <key>+256</key>
        <string>烏干達</string>
    </dict>
    <dict>
        <key>+380</key>
        <string>烏克蘭</string>
    </dict>
    <dict>
        <key>+971</key>
        <string>阿拉伯聯合大公國</string>
    </dict>
    <dict>
        <key>+44</key>
        <string>英國</string>
    </dict>
    <dict>
        <key>+1</key>
        <string>美國</string>
    </dict>
    <dict>
        <key>+598</key>
        <string>烏拉圭</string>
    </dict>
    <dict>
        <key>+998</key>
        <string>烏茲別克</string>
    </dict>
    <dict>
        <key>+678</key>
        <string>萬那杜</string>
    </dict>
    <dict>
        <key>+379</key>
        <string>梵蒂岡</string>
    </dict>
    <dict>
        <key>+58</key>
        <string>委內瑞拉</string>
    </dict>
    <dict>
        <key>+84</key>
        <string>越南</string>
    </dict>
    <dict>
        <key>+681</key>
        <string>瓦利斯群島和富圖那群島</string>
    </dict>
    <dict>
        <key>+212</key>
        <string>西撒哈拉</string>
    </dict>
    <dict>
        <key>+967</key>
        <string>葉門</string>
    </dict>
    <dict>
        <key>+260</key>
        <string>尚比亞</string>
    </dict>
    <dict>
        <key>+263</key>
        <string>辛巴威</string>
    </dict>
</array>
</plist>
